<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
    <html>
        <head>
            <%include ../partials/head %>
        </head>
        <body>
            <% include ../partials/nav %>
            <div class="container home home-welcome">
             <div class="jumbotron">
            <h1> 게시판</h1>
            <p>이 사이트는 nodejs로 만들어진 게시판입니다.</p>
            </div>
            </div>
        </body>
    </html>

