<!-- views/posts/index.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <div class="container post post-index">
            <% include ./partials/header %>

            <div class="buttnes">
                <a class="btn btn-default" href="/posts/new">New</a>
            </div>
            <table class="table table-striped posts">
                <thead>
                    <tr>
                        <th class="title">Title</th>
                        <ht class="date">Date</ht>
                    </tr>
                </thead>
                <tbody>
                    <% if(posts == null || posts.length == 0){ %>
                    <tr>
                        <td class="noData" colspan=100> There is no data :( </td>
                    </tr>
                <% } %>
                <% posts.forEach(function(post) { %>
                    <tr>
                        <td class="title">
                            <a href="/posts/<% = post._id %>"><div><%= post.title %></div> </a>
                        </td>
                        <td class="date">
                            <%= post.createdDate %>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div> <!-- container end -->
    </body>

</html>