<!-- veiws/posts/new.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="container post post-new">
            <% include ./partials/header %>

            <div class="buttons">
                <a class="btn btn-default" href="/posts">Back</a>
            </div>
            <form class="post-form from-horizontal" action="/posts" method="post">
            <div class="contentBox">
                <h3 class="contentBoxTop">New Post</h3>
                <fieldSet>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="title" name="title" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="body" class="col-sm-2 control-label">Body</label>
                        <div class="col-sm-10">
                            <textarea class="fomr-control" id="body"  name="body" rows="5"></textarea>
                        </div>
                    </div>
                </fieldSet>
            </div>
            </form>

        </div><!-- container end -->
    </body>


</html>