<!-- views/posts/show.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partial/nav %>
        <div class="container post post-show">
            <% include ./partials/header %>

            <div class="buttons">
                <a class="btn btn-default" href="/posts">Back</a>
                <a class="btn btn-defautl" href="/posts/<%= post._id %>/edit">Edit</a>
                <form action="/posts/<%= post._id %>?_method=delete" method="POST">
                <a class="btn btn-default" href="#" onclick="confirm('정말로 삭제하시겠습니까?')? this.parentElement.submit():null;"></a>
            </form>
            </div>

            <div class="contentBox">
                    <h3 class="contentBoxTop"><%= post.title %></h3>
                    <div class="row">
                     <div class="col-sm-4 col-sm-push-8">
                      <div class="post-info">
                       <div><span>Created</span> : <%= post.createdDate %> <%= post.createdTime %></div>
                       <% if(post.updatedAt) { %>
                        <div><span>Updated</span> : <%= post.updatedDate %> <%= post.updatedTime %></div>
                       <% } %>
                      </div> <!-- post-info end -->
                     </div> <!-- col end-->
                     <div class="col-sm-8 col-sm-pull-4">
                      <div class="post-body"><%= post.body %></div>
                     </div> <!-- col end-->
                    </div> <!-- row end -->
                   </div> <!-- post-container end -->
                
        </div>
    </body>

</html>